@font-face {
  font-family: "Monserrat-Bold";
  src: url("./font/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Monserrat-Medium";
  src: url("./font/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("./font/Montserrat-Light.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f5f6fb;
  font-family: "Monserrat-Medium";
}

/* phone */

#Hero-section {
  background: url("./hero-img.png");
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-bottom: 1px solid #fff;
}

nav .logo {
  font-weight: 800;
  font-size: 1.4rem;
}

#Hero-section {
  height: 70vh;
  background-size: cover;
  background-position: center;
}
nav ul {
  display: none;
}
nav .dark-light-btn {
  display: none;
}
nav .hamburger-menu i {
  font-size: 1.2rem;
}

.second-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 20px;
  font-family: "Montserrat-Light";
  font-size: 0.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.second-nav a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.hero-content {
  padding: 50px 0;
  text-align: center;
  font-weight: 600;
  color: #fff;
}
.hero-content h1 {
  font-size: 2rem;
}
.hero-content .content-para {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
  font-size: 0.8rem;
}
.hero-content .content-para i {
  padding: 4px 5px;
  border-radius: 50%;
  background-color: #eca051;
}

#Benefit-section {
  padding: 10vh 20px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.benefit-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.benefit-left .left-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sm-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sm-heading h5 {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sm-heading .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(14, 120, 162);
}

.main-heading h1 {
  font-size: 9vw;
}
.main-heading .fristline {
  display: flex;
  align-items: center;
}
.main-heading .fristline img {
  width: 20vw;
}

.tags ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.tags ul li {
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 50px;
  list-style: none;
  display: flex;
  gap: 10px;
  font-family: "Monserrat-Medium";
  font-size: 0.9rem;
}

.left-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left-bottom-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
}

.left-bottom-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-bottom-heading h3 {
  font-size: 1rem;
}

.left-bottom-heading i {
  font-size: 1.2rem;
  font-weight: 500;
}

.left-bottom-content p {
  padding: 10px 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.benefit-right {
  padding: 15px;
  background: #fff;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.right-frist .right-top i {
  color: #e2503b;
}

.right-frist {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.right-frist .right-top p {
  padding-top: 15px;
}
.Vision-btn {
  margin-top: 15px;
  padding: 12px 20px;
  border-radius: 50px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.Vision-btn p,
.Vision-btn i {
  font-size: 0.8rem;
}

.benefit-right .right-second {
  width: 100%;
  height: 400px;
  background: url("/estimg.png");
  background-size: cover;
  background-position: bottom;
  border-radius: 35px;
  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-second .tags {
  margin-left: auto;
}

.right-second .boost {
  width: 200px;
  border-radius: 25px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
  backdrop-filter: blur(5px); /* Blurs the content behind the card */
  -webkit-backdrop-filter: blur(5px);
}
.right-second .boost .boot-top {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.boost .boot-top p {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.6;
  text-align: center;
}
.boost .boost-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boost .boost-body h3 {
  font-size: 2rem;
  font-weight: 500;
}
.boost .boost-body span {
  font-size: 0.7rem;
  padding: 5px 10px;
  background-color: #f5f6fb;
  border-radius: 50px;
  font-weight: 600;
}

.boost .boost-bottom {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #3faad4;
  padding: 10px;
  color: #fff;
}

.boost .boost-bottom i {
  font-size: 1.4rem;
}

/* tablet */
@media (min-width: 768px) {
  #Hero-section {
    height: 100vh;
    background-size: cover;
  }
  .second-nav {
    font-size: 0.8rem;
  }
  .hero-content {
    padding: 10vh 0;
  }
  .hero-content h1 {
    font-size: 4rem;
  }
  .hero-content span {
    margin-left: 21vw;
  }
  .hero-content .content-para {
    padding: 25px 0;
    gap: 25px;
    font-size: 1rem;
  }
  .sm-heading h5 {
    font-size: 1rem;
  }

  .left-bottom {
    flex-direction: row;
    justify-content: space-between;
  }

  .benefit-right {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  .benefit-right .main-heading h1 {
    font-size: 5vw;
  }

  .benefit-right .right-second {
    height: auto;
  }
  /* .right-second .boost {
    width: 70%;
  } */
}

/* DeskTop */
@media (min-width: 1024px) {
  #Hero-section {
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  nav .left-nav {
    display: flex;
    align-items: center;
    gap: 10vw;
  }
  nav ul {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2vw;
    list-style: none;
  }
  nav .dark-light-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    border-radius: 100px;
    background: #ffffff36;
  }

  nav .dark-light-btn i {
    padding: 7px 8px;
    border-radius: 50%;
  }

  nav .dark-light-btn .sun {
    background: #fff;
    color: #000;
  }

  nav .hamburger-menu {
    display: none;
  }
  .hero-content h1 {
    font-size: 6rem;
  }

  #Benefit-section {
    padding: 10vh 50px;
    flex-direction: row;
    justify-content: space-between;
    gap: 4vw;
  }
  .benefit-left {
    width: 40%;
    gap: 65px;
  }
  .sm-heading h5 {
    font-size: 0.8rem;
  }

  .main-heading h1 {
    font-size: 4vw;
  }
  .main-heading .fristline img {
    width: 9vw;
  }

  .left-bottom {
    flex-direction: column;
    justify-content: space-between;
  }
  .left-bottom-heading h3 {
    font-size: 1.1rem;
  }

  .benefit-right {
    width: 55%;
    padding: 30px;
  }
  .benefit-right .main-heading h1 {
    font-size: 2.7vw;
  }

  .benefit-right .right-second {
    width: 50%;
    padding: 20px;
  }
  .right-second .boost {
    width: 100%;
  }

  .benefit-right .right-frist .right-top p {
    font-size: 0.9rem;
  }
  .benefit-right .right-frist {
    width: 50%;
  }
}
